@font-face {
    font-family: "Circular std";
    src: url('/Resources/Fonts/circular-std-medium-500\(1\).ttf') format('truetype');
    
  }

body{
    font-family: "Circular std";   
    }
.resp-iframe {
    position: relative;
    overflow: hidden;
    padding-top: 57%;
}

.button {
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #FFCF35;
  color:rgb(67, 67, 67);
  border: 1px solid #FFCF35;
  border-radius:80px;
  margin-left: 5%;
  margin-top: 4.5%;
  font-size: 10px;
}

.button2 {
  background-color: #1e1e1e;
  color:rgb(255, 255, 255);
  border: 1px solid #1e1e1e;
  border-radius:80px;
  margin-left: 10%;
  margin-top: 4.5%;
  font-size:12px;
}

.button3 {
  background-color: #770409;
  color:rgb(255, 255, 255);
  border: 1px solid #770409;
  border-radius:80px;
  margin-left: 10%;
  margin-top: 4.5%;
  font-size:12px;
}

.button4 {
  background-color: #6fa065;
  color:rgb(0, 0, 0);
  border: 1px solid #6fa065;
  border-radius:80px;
  margin-left: 10%;
  margin-top: 4.5%;
  font-size:12px;
}


.button5 {
  background-color: #c8cbcb;
  color:rgb(0, 0, 0);
  border: 1px solid #c8cbcb;
  border-radius:80px;
  margin-left: 10%;
  margin-top: 4.5%;
  font-size:12px;
}
   
 #ar-button {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 12px 50%;
    background-color: #016EB9;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    bottom: 132px;
    padding: 0px 16px 0px 16px;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    font-size: 14px;
    color:#fff;
    line-height: 36px;
    height: 38px;
    border-radius: 80px;
    border: 1px solid #016EB9;
  }
   
  #ar-button:active {
    background-color: #0099ff;
    color:#fff;
  }

  #ar-button:focus {
    outline: none;
  }

  #ar-button:focus-visible {
    outline: 1px solid #4285f4;
  }
   
   @keyframes circle {
    from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
    to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
  }

  @keyframes elongate {
    from { transform: translateX(100px); }
    to   { transform: translateX(-100px); }
  }

  .container1{
    width: auto;
  }

  model-viewer{
    max-width: 100%;
    width: auto;
    display: block;
    max-height: 100%;
    height: 810px
  }
   
   model-viewer > #ar-prompt {
    position: absolute;
    left: 50%;
    bottom: 175px;
    animation: elongate 2s infinite ease-in-out alternate;
    display: none;
  }

  model-viewer[ar-status="session-started"] > #ar-prompt {
    display: block;
  }

  model-viewer > #ar-prompt > img {
    animation: circle 4s linear infinite;
  }
   
   model-viewer > #ar-failure {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 175px;
    display: none;
  }
   
   model-viewer[ar-tracking="not-tracking"] > #ar-failure {
    display: block;
  }
   
  .text-block {
  position: absolute;
  bottom: 20px;
  right: 200px;
  background-color:  rgba(0, 0, 0, 0.2);
  color: rgb(255,218,39);
  font-size: 12px;
  padding-left: 50px;
  padding-right: 50px;
}

   .ventana {
     background:#FFCF35;
     width:20%;
     color:rgb(67, 67, 67);
     font-size:14px;
     text-align:left;
     padding:33px;
     min-height:200px;
     border-radius:22px;
     position:absolute;
     left:76%;
     top:17%;
     display:none;
   }

   .ventana1 {
    background:#1e1e1e86;
    width:38%;
    color:rgb(255, 255, 255);
    font-size:14px;
    text-align:left;
    padding:33px;
    height: 70%;
    border-radius:22px;
    position:absolute;
    left:60%;
    top:3%;
    display:none;
  }

   .ventana2 {
    background:#77040a84;
    width:38%;
    color:rgb(255, 255, 255);
    font-size:14px;
    text-align:left;
    padding:33px;
    height: 70%;
    border-radius:22px;
    position:absolute;
    left:60%;
    top:3%;
    display:none;
  }

  .ventana3 {
    background:#6fa0657a;
    width:38%;
    color:rgb(0, 0, 0);
    font-size:14px;
    text-align:left;
    padding:33px;
    height: 70%;
    border-radius:22px;
    position:absolute;
    left:60%;
    top:3%;
    display:none;
  }

  .ventana4 {
    background:#c8cbcb97;
    width:38%;
    color:rgb(0, 0, 0);
    font-size:14px;
    text-align:left;
    padding:33px;
    height: 70%;
    border-radius:22px;
    position:absolute;
    left:60%;
    top:3%;
    display:none;
  }
   
   #cerrar{
     position:absolute;
     right:3px;
     top:1px;
     width: 80%;
   }
   
h1 {
    text-align: center;
    font-size: 19px;
  }
h3 {
    font-size: 8px;
    text-align: center;
  }

h4 {
    text-align: center;
    font-size: 10px;
}

  .top-buffer {
    margin-top: 15px;
  }
.Myheader {
    padding: 10px;
    /* background: #EFC100;
    background: -webkit-radial-gradient(top left, #EFC100, #5AABFA);
    background: -moz-radial-gradient(top left, #EFC100, #5AABFA);
    background: radial-gradient(to bottom right, #EFC100, #5AABFA); */
}

.MyFooter {
    padding: 55px;
  }
