@font-face {
    font-family: "Circular std";
    src: url('/Resources/Fonts/circular-std-medium-500\(1\).ttf') format('truetype');
    
  }
  
  body{
  
      font-family: "Circular std";
      
      }
    
    h1 {
      text-align: center;
      font-size: 20px;
    }
  
    h2{
      font-size: 15px;
      text-align: center;
    }
  
    h3 {
      font-size: 15px;
      text-align: center;
    }
    h4 {
      text-align: center;
      font-size: 10px;
  }
  
    .top-buffer {
      margin-top: 15px;
    }
  
    .myBTN {
      background-color: #3d70b2;
      border-color: #3d70b2;
    }
  
      
      .wrapper{margin:10vh}
  
      .cstm-height-card .card-img-top {
        height: 100px;
        object-fit: cover;
        border: none;
      }
  
      .special-card {
        background-color: rgba(0, 0, 0, 0);
        /* border-color: #EFC100; */
        border-color: rgba(0, 0, 0, 0);
      }
    
      .Myheader {
        padding: 15px;
    }
  
    .MyFooter {
      padding: 55px;
    }